body{
    background-color: hsl(235, 18%, 26%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main{
    width: 800px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    

}
.text h1{
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
    margin: 75px 0px 0px 50px;

}
.text p{
    margin: 20px 0px 0px 50px;
    font-family: Roboto;
    color: hsl(231, 7%, 60%);
}
.text ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px   ;
    margin: 20px 0px 0px 50px;

}
.text ul li{
    font-family: Roboto;
    font-size: 16px;
}

.ticks{
    display: flex   ;
    flex-direction: column ;
    width: 25px;
    position: absolute;
    margin: 15px 0px 0px 50px;
    row-gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
label{
    font-family: Roboto;
    padding-bottom: 10px;
    margin-left: 50px;
    font-size: 14px;

}
#mail{
    margin: 0px 0px 0px 50px;
    width: 350px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid black ;
    
}
#buttonone{
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: hsl(234, 29%, 20%);
  padding: 10px 70px 10px 70px;
  text-decoration: none;
  border: none;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

#buttonone:hover {
  background: hsl(4, 100%, 67%);
  text-decoration: none;
}
.image img{
    height: 500px;
    margin: 25px 0px 5px 25px;
}
.none{
    display: none !important;
}

.success{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    padding: 50px;
}
.success img{
    width: 50px;
}
.success h1{
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
}
.success p{
    font-family: Roboto;
    
}

#buttontwo{
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: hsl(234, 29%, 20%);
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}
#buttontwo:hover{
    background: hsl(4, 100%, 67%);
    text-decoration: none;
}
input:invalid{
    background-color: hsl(4, 100%, 67%);
}
input:empty:focus{
    border-color: hsl(4, 100%, 67%);
    background-color: hsla(4, 100%, 67%, 0.267);
}